.container{
	width: 100%;
}
 .textTop{
	font-size: 2.5em;
	margin-top:6%;
	width: 30%;
}
.batTop{
	float:none;
	text-align: center;
    height: 35%;
    padding: 3%;
    padding-left: 12px;
    padding-right: 12px;
}
