body {
width:100%;
}
.container{
	max-width:900px;
	margin: 0 auto; /*********center div **need to be together*******/
	display: block;
	overflow: hidden;
}
.backgflower{
	background-image:url("../image/img01.jpg");
	height: 674px;
	position: absolute;
	width: 100%;
}

/***********************conteinet****************************************************************/
header{
	width: 100%;
	position: relative;
}
.topMenu{
	height: 200px;
}
/******top text****/
.textTop{
	float:left;
	font-family: 'Oswald', sans-serif;/***********************https://www.google.com/fonts********************/
	text-transform: uppercase;/*********************big letter******************************/
	font-size: 3.5em;
	margin-top:7%;
	width: 40%;
}
/******top menu****/
.mainNav{
	float: right;
	margin-top:10%;
	font-family: 'Oswald', sans-serif;/***********************https://www.google.com/fonts********************/
	text-transform: uppercase;/*********************big letter******************************/
	width: 60%;
}
.mainNav>ul{
	overflow: hidden;
}
.batTop{
	float:left;
	text-align: center;
    height: 35%;
    padding: 3%;
        padding-left: 12px;
    padding-right: 12px;
}
.batTop1{
	float:left;
	text-align: center;
    height: 35%;
    padding: 3%;
}
.linkStal{
	color:black;
	text-decoration: none;
	text-align:left;
	padding: 11%;
}
/************************over button***********************************/
.linkStal:hover {
	 border-radius: 10px;
	 background-color:#ccc;
	 color:white;
}
/**********big picture***************************************************/
.bigImage{
	background-image:url("../image/img02.jpg");
	height: 400px;
}
/***********************center div*********************************/
.divCenter{
	margin-top:16%;
}
.setPic{
	overflow: hidden;
	margin-bottom: 5%;
}
/****begin***/
.picLeft{
	float: left;
	width: 250px;
}
.picRight{
	float: right;
	width:250px;
}
.picCenter{
	width: 250px;
	float: left;
	margin-left: 9%;
}
.subMain{
	text-transform: uppercase;/*********************big letter******************************/
	margin-bottom: 8%;
	font-size: 1.2em;
	font-family: 'Oswald', sans-serif;
	
}
.smPic img {
	width:250px;
    height: 150px;
}
.textM{
	margin-top:6%;
	text-align: justify;/******************ממלא בתוח דיב***************/
}
.batTop2{
	margin-top:6%;
	float:left;
	text-align: center;
    height: 35%;
    padding: 3%;
    width: 41%;
}
/*****************************************end st pic**********/
.setLink{
	overflow: hidden;
	margin-bottom:10%;
}
.bigTex{
	float: left;
	width: 65%;
}
.textM{
	float: left;
}
.battonM{
	float: left;
	width:40%;
}
.smalllink{
	float: right;
	width: 25%;
}
.categor{
	font-size: 2em;
	text-transform: uppercase;
	margin-top: 31%;
    margin-bottom: 20%;
}
.morL{
	text-decoration: underline;
	color:black;
}
.linkIZ{
	 list-style-type: circle;
}
.textTop2{
	float:left;
	font-family: 'Oswald', sans-serif;/***********************https://www.google.com/fonts********************/
	text-transform: uppercase;/*********************big letter******************************/
	font-size: 2.5em;
	margin-top:10%;

}
/***************************end div center******************************************/
.backgroundBottom{
	background-image:url("../image/img05.jpg");
	height: 200px;
	position: absolute;
	width: 100%;
}
/****************************/
footer{
	width: 100%;
	position: absolute;
	z-index: 1;
	overflow: hidden;
	height: 200px;
}
.leftT{
	float: left;
	width: 250px;
	
}
.centerDIV{
	float: left;
	width:250px;
	margin-left: 5%;
}
.rightDiv{
	float: left;
	width:250px;
	margin-left: 5%;
}
